*.DS_Store
AnyThinkSDKDemo/Podfile.lock
AnyThinkSDKDemo/Pods
AnyThinkSDKDemo/AnyThinkSDKDemo.xcworkspace
AnyThinkSDKDemo/SDK
JoyPacSDKDemo
Build
fastlane/report.xml
fastlane/README.md

AnyThinkSDKDemo.xcodeproj